# ALL WEEKS WILL USE THIS
MARIADB_DATABASE=sakila
MARIADB_USER=sakila
MARIADB_PASSWORD=password
MARIADB_ROOT_PASSWORD=root
MYSQL_DSN="$MARIADB_USER:$MARIADB_PASSWORD@tcp(awad-mysql:3306)/$MARIADB_DATABASE?charset=utf8mb4&parseTime=True&loc=Local"

# WEEK 3 SPECIFIC
OPENSEARCH_ADMIN_PASSWORD="s#UZI>3C24D*WZjPQ(F-338]K,HI>Lp6"
FLUENTBIT_URL="http://awad-week3-fluentbit:8888/sakila"
