OPENSEARCH_ADMIN_PASSWORD="s#UZI>3C24D*WZjPQ(F-338]K,HI>Lp6"
POSTGRES_DSN="host=awad-midterms-postgres user=root password=postgres dbname=awad-midterms port=5432 TimeZone=Asia/Ho_Chi_Minh"
FLUENTBIT_URL="http://awad-week3-fluentbit:8888/sakila"
RABBITMQ_URL="amqp://guest:guest@awad-midterms-rabbitmq:5672/"
SECRET_KEY=longsecretkeyhere
